@if (Request.IsAuthenticated) {
    <text>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Desconectar</a>
        }
        @User.Identity.Name
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Conectar con ASM", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
